/* Reset standaardmarges en padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basisstijlen voor de hele pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
    display: inline-block;
    border: none;
    cursor: pointer;
}

nav a:hover {
    background-color: #45a049;
}

.search-container {
    margin-top: 20px;
    text-align: center;
}

.search-container input[type=text] {
    padding: 10px;
    width: 60%;
    border: none;
    border-bottom: 2px solid #4CAF50;
    background-color: #f2f2f2;
    margin-right: 10px;
    transition: border-bottom 0.3s ease;
}

.search-container input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #45a049;
}

.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
}

.search-container button:hover {
    background-color: #45a049;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
